/* font-poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-app-100: var(--bg-app-100);
  --color-app-200: var(--bg-app-200);
  --color-natural: var(--text-natural);
}

:root {
  --bg-app-100: #e9e6e6;
  --bg-app-200: #ffffff;
  --text-natural: #1f2937;
}

.dark {
  --bg-app-100: rgb(36, 38, 45);
  --bg-app-200: rgb(22, 25, 37);
  --text-natural: rgb(214, 212, 212);
}

.container {
  @apply max-w-[1600px] mx-auto;
}

.responsive-container {
  @apply w-11/12 mx-auto;
}

.navbar a.active {
  @apply border-b-2 md:border-b-3 pb-2 border-sky-900 text-sky-900 font-bold;
}
