@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.responsive-container{
  @apply w-11/12 mx-auto
}

.navbar a.active{
  @apply border-b-2 border-sky-900
}
